{# Template for home view #}

{% extends "site/base.html" %}

{% block content %}

    <div class="jumbotron text-center">
        <h1>{{ site_name }}</h1>
        <p class="lead text-center">
            {{ site_tag_line }}
        </p>
    </div>

    {% if request.user %}
        <p id="demo-text">
            Welcome {{ request.user.friendly_name }}!
        </p>
    {% else %}
        <p id="demo-text">
            Welcome visitor!
        </p>
    {% endif %}

{% endblock %}