{% extends "admin/model_panel.html" %}

{% block panel_content %}
  <table class="table">
    <tr>
        <th>Id</th><th>Name</th><th>Social network</th><th>Status</th><th>Progress</th>
    </tr>
    {% for campaign in running_campaigns %}
      <tr>
        <td>
          <a href="{{ campaign|admin_url('edit') }}">{{ campaign.id }}</a>
        </td>

        <td>
          {{ campaign.name }}
        </td>

        <td>
          {{ campaign.social_network }}
        </td>
        <td>
          {{ campaign.status }}
        </td>
        <td>
          {{ progress }}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock panel_content %}