{% extends "admin/model_panel.html" %}

{% block panel_title %}
Recipient <span class="text-muted">({{count}})</span>
{% endblock %}

{% block panel_content %}
  <span>
    <a class="btn btn-default btn-primary">Load from CVS</a>
    <a class="btn btn-default btn-primary">Load from Search link</a>
  </span>
{% endblock panel_content %}